/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/*custom css*/
.clscart{
    position: relative;
    top: -14px;
    left: -12px;
    padding-right: 5px;
    padding-left: 5px;
    background: #D15B47;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    color: #fff;
    vertical-align: middle;
    border-radius: 10px;
}
.navbarfixed{
    position: fixed;
    width: 100%;
    z-index: 10;
}
.productlist{
    margin: 0 auto;
    padding: 2%;
}
.clsproductimg{
    height: 210px !important;
}
.clsbutton{
    width: 143px;
    margin-left: 33px;
    margin-top: 4px;
}
/* //================================ */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* //=========================== */
  .clsheader{
    position: fixed;
    z-index: 10;
    margin-left: 496px;
    color: #fff;
    font-size: 0.5rem !important;
    margin-top: 18px;
  }
  .clsheader h1{
    font-size: 1.3rem;
  }
  .clshilight{
      background: #bbdefb !important;
      border-color: #007bff!important;
  }
  .clsProductName:hover{
    color: #007bff!important;
    cursor:pointer;
  }
  .clspointer
  {
    cursor:pointer;
  }
  .clsStockMessg{
    color: #fff;
  }
